<!DOCTYPE html>
<html>
    <head>
        <title>Word Counter</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>

        <h2>Word Counter</h2>

        <div class= 'container'>
            <form action='/results'>
                <div class ='form-group'>
                    <input type='text' class='form-control' placeholder=
                    'Enter the word you want to find:' name='search_word'>
                    <label for='search_word'></label>
                </div>
                <div class='form-group'>
                    <input type='text' class='form-control' placeholder=
                    'Enter the text you would like to search into:' name='sentence'>
                    <label for='sentence'></label>

                </div>



        <div class='button'>
                <button type='submit' class='btn btn-warning'>Submit</button>

        </div>
            </form>

        </div>
    </body>
</html>
